<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tuk.mina.dao.note.TbNoteDao">

    <select id="getNote" resultType="TbNoteVo">
        SELECT 
            noteId,
            noteSummary,
            noteFullText,
            createdUserId,
            createdDttm,
            updatedDttm
        FROM TB_MINA_NOTE_L
        WHERE 1=1
        <if test="noteId != 0">
            AND noteId = #{noteId}
        </if>
    </select>

    <insert id="newNote" parameterType="TbNoteVo">
        <selectKey keyProperty="noteId" resultType="int" order="BEFORE">
            SELECT NEXT VALUE FOR dbo.TB_MINA_NOTE_ID_SEQ
        </selectKey>

        INSERT INTO TB_MINA_NOTE_L
        (noteId, noteSummary, noteFullText, createdUserId, createdDttm, updatedDttm)
        VALUES
        (#{noteId}, #{noteSummary}, #{noteFullText}, #{createdUserId}, GETDATE(), GETDATE());
    </insert>

    <update id="putNote" parameterType="TbNoteVo">
        UPDATE TB_MINA_NOTE_L
        SET
            <if test="noteSummary != null and noteSummary != ''">
                noteSummary = #{noteSummary},
            </if>
            <if test="noteFullText != null and noteFullText != ''">
                noteFullText = #{noteFullText},
            </if>
            updatedDttm = GETDATE()
        WHERE noteId = #{noteId}
    </update>

    <delete id="delNote">
        DELETE FROM TB_MINA_NOTE_L
        WHERE noteId = #{noteId}
    </delete>

</mapper>