<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tuk.mina.dao.team.TbTeamDao">

        <select id="getTeam" resultType="TbTeamVo">
                SELECT 
                        t.*,
                        u.userName AS teamLeaderName
                FROM TB_MINA_TEAM_L t
                LEFT JOIN TB_MINA_USER_L u ON t.teamLeaderId = u.userId
                WHERE 1=1
                <if test="teamId != null">
                        AND t.teamId = #{teamId}
                </if>
                <if test="teamName != null and teamName != ''">
                        AND t.teamName LIKE CONCAT('%', #{teamName}, '%')
                </if>
                <if test="teamLeaderId != null and teamLeaderId != ''">
                        AND t.teamLeaderId = #{teamLeaderId}
                </if>
                <if test="teamDesc != null and teamDesc != ''">
                        AND t.teamDesc LIKE CONCAT('%', #{teamDesc}, '%')
                </if>
                <if test="createdUserId != null and createdUserId != ''">
                        AND t.createdUserId = #{createdUserId}
                </if>
                <if test="updatedUserId != null and updatedUserId != ''">
                        AND t.updatedUserId = #{updatedUserId}
                </if>
                <if test="createDttm != null and createDttm != ''">
                        AND t.createDttm = #{createDttm}
                </if>
                <if test="updatedDttm != null and updatedDttm != ''">
                        AND t.updatedDttm = #{updatedDttm}
                </if>
        </select>

        <insert id="newTeam" parameterType="TbTeamVo" useGeneratedKeys="true" keyProperty="teamId" keyColumn="teamId">
                INSERT INTO TB_MINA_TEAM_L (teamName, teamLeaderId, teamDesc, createdUserId, updatedUserId, createDttm, updatedDttm)
                VALUES (#{teamName}, #{teamLeaderId}, #{teamDesc}, #{createdUserId}, #{updatedUserId}, GETDATE(), GETDATE())
        </insert>

        <update id="putTeam" parameterType="TbTeamVo">
                UPDATE TB_MINA_TEAM_L
                SET
                <if test="teamName != null and teamName != ''">
                        teamName = #{teamName},
                </if>
                <if test="teamLeaderId != null and teamLeaderId != ''">
                        teamLeaderId = #{teamLeaderId},
                </if>
                <if test="teamDesc != null and teamDesc != ''">
                        teamDesc = #{teamDesc},
                </if>
                updatedUserId = #{updatedUserId},
                updatedDttm = GETDATE()
                WHERE teamId = #{teamId}
        </update>

        <delete id="delTeam">
                DELETE FROM TB_MINA_TEAM_L
                WHERE teamId = #{param}
        </delete>
</mapper>